generators/soa/tests/org.obeonetwork.dsl.soa.gen.contracts.test/main/resources/ProvidedService1-v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProvidedService1"
        xmlns:tns="http://www.github.com/ProvidedService1" targetNamespace="http://www.github.com/ProvidedService1">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.github.com/ProvidedService1"
        xmlns:ns1="http://www.github.com/Category_1"
        xmlns:ns3="http://www.github.com/Category_2"
    >
      <xsd:import schemaLocation="MySystem-Category_1-v1.xsd" namespace="http://www.github.com/Category_1"></xsd:import>
      <xsd:import schemaLocation="MySystem-Category_2-v1.xsd" namespace="http://www.github.com/Category_2"></xsd:import>
      <xsd:element name="requestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="entity" type="ns1:Entity_1DTO"
              minOccurs="1" maxOccurs="1"/>
            <xsd:element name="primitiveString" type="xsd:string"
              minOccurs="0" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="requestResponseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output1" type="ns1:BasicDTO"
              minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="requestResponsefaultString" type="xsd:string"/>
      <xsd:element name="oneWay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="composite" type="ns3:CompositeDTO"
              minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="requestResponseRequest">
    <wsdl:part element="tns:requestResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="requestResponseResponse">
    <wsdl:part element="tns:requestResponseResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="requestResponsefaultString">
    <wsdl:part element="tns:requestResponsefaultString" name="parameters"/> 
  </wsdl:message>
  <wsdl:message name="oneWayRequest">
    <wsdl:part element="tns:oneWay" name="parameters"/>
  </wsdl:message>
  
  <wsdl:binding name="ProvidedService1SOAP" type="tns:ProvidedService1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="requestResponse">
      <soap:operation soapAction="http://www.github.com/ProvidedService1/requestResponse"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="faultString"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="oneWay">
      <soap:operation soapAction="http://www.github.com/ProvidedService1/oneWay"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:portType name="ProvidedService1">
    <wsdl:operation name="requestResponse">
      <wsdl:input message="tns:requestResponseRequest"/>
      <wsdl:output message="tns:requestResponseResponse"/>
      <wsdl:fault name="faultString" message="tns:requestResponsefaultString"/>
    </wsdl:operation>
    <wsdl:operation name="oneWay">
      <wsdl:input message="tns:oneWayRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ProvidedService1">
    <wsdl:port binding="tns:ProvidedService1SOAP" name="ProvidedService1Port">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
